{% extends 'main.html' %}
{% load static %}

{% block content %}





<section id="contact"><div class="container-lg">
  <div class="text-center">
    <h2>Get in touch</h2>
    
    <p class="lead"> Questions to ask? Fill out the form or contact me directly...</p>
  </div>


  <!-- input section -->
<!-- email input -->
<div class="row justify-content-center my-5">
    <div class="col-lg-6">
      <form action="{% url 'suscribe' %}" method="post">
{% csrf_token %}




<label for="email" class="form-label">Email address</label>

<div class="mb-4 input-group"> 
  <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>

  <input  name="email" type="email" class="form-control" id="email" placeholder="e.g.Chrispadiga@gmail.com"> </div>



<label for="Name" class="form-label">Name</label>
<!-- Name input -->
<div class="mb-4 input-group"> 
  <span class="input-group-text"><i class="bi bi-person-fill"></i></i></span>
 <input name="name" type="text" class="form-control" id="name" placeholder="e.g Mario">
</div>

 


<!-- Select Input -->

<label for="Subject" class="form-label">What is your question about?</label>
<div class="input-group mb-4"> <span class="input-group-text"><i class="bi bi-chat-right-dots-fill"></i></span>
 <select name="customer_query" id="subject" class="form-select">

<div class="mb-4 input-group"> 
<span class="input-group-text"><i class="bi bi-person-fill"></i></i></span>
<option value="pricing"selected>Pricing query</option>
<option value="Content">Content query</option>
<option value="other">Other query</option>
</select></div>


<!-- Text area with label -->


<div class="form-floating mb-4 mt-5" >
<textarea name="body" id="query"style=height:140px class="form-control"></textarea>
<label for="query">Your Query...</label>
</div>

<div class="mb-4 text-center">
  <button type="submit"class="btn btn-dark">Submit</button>
</div>

 </form>
    </div>

  </div>
</div> </section>


{% endblock %}
    