{% extends 'main.html' %}
{% load static %}

{% block content %}

<section>
    <div class="card">
        <div class="card-body mx-5"><p><h2 class="card-title text-center">A Word from  <span class="text-primary">the Author  
            
            
            <i class="bi bi-quote display-3"></i></span></h2></p>
            
          <p><h6 class="card-subtitle mb-2 text-muted text-center">Welcome to "Net Ninja"!</h6></p>
          
          <p class=" lead my-4 text-muted  card-text text-center m-2 p-2" >I'm thrilled to share this journey into the world of coding with you. Whether you're a complete beginner or someone looking to sharpen their skills, this book is designed to guide you step-by-step through the intricacies of programming.


            <br><br>
            Coding is not just about writing lines of code; it's about problem-solving, creativity, and building something from nothing.Thank you for choosing "Net Ninja". I hope this book inspires you, challenges you, and equips you with the skills you need to succeed in the world of coding. Happy coding!
            
            Warm regards,</p>
          <div class="text-center">          <a href="#" class="card-link ">Join the Community</a></div>

        </div>
      </div>

</section>








{% endblock %}